@import url(../assets/root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
}

.font-black {
    color: #32352C;
}

/* ---------------------padding-margin---------------------------------------- */

.pb-132 {
    padding-bottom: 132px;
}

.pt-78 {
    padding-top: 78px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pt-49 {
    padding-top: 49px;
}

.pt-45{
    padding-top: 45px;
}
.mt-70 {
    margin-top: 70px;
}

/* ---------------------padding-margin---------------------------------------- */
.top-64 {
    top: 64%;
}

.left-4 {
    left: 4%;
}

.right-0 {
    right: 0;
}

.bg-img-partner {
    background-image: url(./images/partnership-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-line {
    width: 2px;
    height: 163px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 51.56%, rgba(255, 255, 255, 0.00) 100%);
}

.max-w-890 {
    max-width: 890px;
}

.max-w-453 {
    max-width: 453px;
}

.max-w-252 {
    max-width: 252px;
}

.social-icon {
    width: 29px;
    height: 29px;
    background: linear-gradient(180deg, #FFBA3B -9.01%, #FFA53B 43.37%, #FF983B 89.55%);
}

.gap-11 {
    gap: 11px;
}

.mt-23 {
    margin-top: 23px;
}

.svg-box:hover {
    transform: translateY(-10px);
    transition: all 300ms linear;
}
.transition-300{
    transition: all 300ms linear;
}
.footer-line {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #9F9F9F;
}

.position-absolute3 {
    position: absolute;
    top: -26%;
    left: -5%;
}

.positionabsolute4 {
    position: absolute;
    bottom: -12%;
    right: 0%;
}

.positionabsolute5 {
    position: absolute;
    bottom: -3%;
    left: 25%;

}
.position-absolute7{
    position: absolute;
    bottom: -28%;
    right: 0%;
}
dl,
ol,
ul {
    margin-bottom: 0 !important;
}

ol,
ul {
    padding-left: 0 !important;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 9px !important;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #FF993C;
}

::-webkit-scrollbar-thumb {
    background: white;
    width: 10px !important;
}

/* margin---paddding----here */
.pt_23 {
    padding-top: 23px;
}

.pt_45 {
    padding-top: 45px;

}

.pt_6 {
    padding-top: 6px;
}

.mt_40 {
    margin-top: 40px;
}

.pt_60 {
    padding-top: 60px;
}

.pb_180 {
    padding-bottom: 180px;
}

.pt_18 {
    padding-top: 18px;
}

.pb_158 {
    padding-bottom: 158px;
}

.pb_50 {
    padding-bottom: 50px;
}

/* margin---paddding----here */

/* navbar--section---here */

.bg-img {
    background-image: url("./images/hero-smalscrn.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 70%;
}

.cursor-pointer {
    cursor: pointer;
}

.svg-box {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    transition: 300ms linear;
}

.svg-box:hover {
    transform: translateY(-10px);
}

.gap_22 {
    gap: 22px;
}

.gap_31 {
    gap: 31px;
}

.gap_12 {
    gap: 12px;
}

.eng-box {
    width: 93px;
    height: 35px;
    border-radius: 165px;
    border: 1px solid #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5%;
    color: #FFA43B;
    background-color: white;
    min-width: 100px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 2px 4px;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--elippse-color-violent);
    color: #FFA43B;
}

.max-w-head {
    max-width: 513px;
}

.max-w-para {
    max-width: 384.939px;
}

.buy_btn {
    color: #FFA43B;
    padding: 5px 16px;
    border-radius: 40px;
    background: white;
    border: 1px solid white;
    transition: 300ms linear;
}

.buy_btn:hover {
    color: white;
    background-color: transparent;

}

.gap_15 {
    gap: 15px;
}

.min_80vh {
    min-height: 80vh;
}


/* circle---section---css---here */
.text-color {
    color: #32352C;
}

.color_black {
    color: black;
}

.max-w-project {
    max-width: 447px;
}

.position-absolute-1 {
    position: absolute;
}


/* rounded---box---positionn--here */


.purple-position-1 {
    position: absolute;
    right: 52%;
    bottom: 16%;
}

.pink-position-2 {
    position: absolute;
    right: 13%;
    bottom: 16%;
}

.hand-pst-1 {
    position: absolute;
    top: 16%;
    left: 12%;
}

.bag-pst-1 {
    position: absolute;
    top: 17%;
    left: 65%;
}

.text-pos-1 {
    position: absolute;
    top: 41%;
    left: 39%;
}

.text-pos-2 {
    position: absolute;
    top: 45%;
    left: 29%;
}

.brown-position-3 {
    position: absolute;
    top: -20%;
    right: 11%;
}

.people-pst-1 {
    position: absolute;
    top: 10%;
    right: 40%;
}

.text-pos-3 {
    position: absolute;
    top: 45%;
    left: 39%;
}

.blue-position-4 {
    position: absolute;
    left: 10%;
    top: -20%;
}

.key-pst-1 {
    position: absolute;
    top: 11%;
    left: 43%;
}

.text-pos-4 {
    position: absolute;
    top: 45%;
    left: 20%;
}

.top-position-5 {
    position: absolute;
    top: -34%;
    left: 27%;
}

.dollar-pst-1 {
    position: absolute;
    top: 20%;
    left: 12%;
}

.text-pos-5 {
    position: absolute;
    top: 38%;
    left: 40%;

}

.purple-box {
    transition: 300ms linear;
}

.purple-box:hover {
    transform: translateX(-10px);
    transform: translatey(10px);
}

.purple-box2 {
    transition: 300ms linear;
}

.purple-box2:hover {
    transform: translateX(10px);
    transform: translatey(-10px);
}

.purple-box3 {
    transition: 300ms linear;
}

.purple-box3:hover {
    transform: translateX(10px);
}
.purple-box4 {
    transition: 300ms linear;
}

.purple-box4:hover {
    transform: translateX(-10px);
}

/* rounded---box---positionn--here */

.box_rounded-1 {
    max-width: 370.765px;
    width: 100%;
    height: 287.618px;
    background-color: #FBF3E5;
    border-radius: 76% 11% 40% 29% / 50% 52% 33% 19%;
    padding: 40px 20px 3px 15px;
}



.box_rounded-2 {
    max-width: 370.765px;
    width: 100%;
    height: 287.618px;
    background-color: #FBF3E5;
    border-radius: 79% 58% 53% 94% / 81% 77% 65% 55%;
    padding: 0px 22px 3px 47px;

}



.box_rounded-3 {
    max-width: 370.765px;
    width: 100%;
    height: 287.618px;
    background-color: #FBF3E5;
    border-radius: 36% 64% 70% 30% / 55% 77% 23% 45%;
    padding: 8px 37px 3px 14px;

}


.max-w-img {
    max-width: 312.586px;
    top: 15%;
}

.max-para-w {
    max-width: 317px;
}

.max-para-w2 {
    max-width: 272px;
}

.max-para-w3 {
    max-width: 288px;
}

.arrow-ps-abs {
    position: absolute;
    top: 55%;
}

.container2 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container3 {
    max-width: 1360.79px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
/*  Whitepaper-section */
.Whitepaper-bg-img {
    background-image: url(./images/Whitepaper-bg-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.we-went-text {
    max-width: 577.963px;
}


.read_btn {
    display: inline-flex;
    height: 46px;
    padding: 11px 21px;
    border-radius: 40px;
    background: var(--bhjb, #FFF);
    gap: 10px;
    color: #FFA83B;
    border: 2px solid #FFF;
}

.read_btn:hover {
    color: white;
    background-color: transparent;
}

.ellips_position {
    position: absolute;
    top: 25%;
    left: 25%;
}
/*  Whitepaper-section */
/* RoadMap_phera */
.RoadMap_phera {
    max-width: 672px;
}

.pb-75 {
    padding-bottom: 75px;
}

.road_mapbox {
    width: 206.87px;
    height: 179.847px;
    border-radius: 14.91px;
    padding: 8.39px 11.18px;

}

.roadmap_yellow_box {
    background: linear-gradient(0deg, #EFB93B 0%, #EFB93B 100%), #D9D9D9;
}

.roadmap_box_red {
    background: linear-gradient(0deg, #E0480A 0%, #E0480A 100%), linear-gradient(0deg, #EFB93B 0.02%, #EBA43B 53.72%, #E9973B 100.15%), #D9D9D9;
}

.roadmap_box_liteblue {
    background: #4D86DC;
}

.roadmap_box_blue {
    background: #364EC6;
}

.roadmap_box_volit {
    background: linear-gradient(0deg, #6A3DAD 0%, #6A3DAD 100%), linear-gradient(90deg, #2D367D -0.02%, #384CB1 99.91%);

}

.roadmap_box_pink {
    background: linear-gradient(0deg, #ED5C83 0%, #ED5C83 100%), linear-gradient(90deg, #2D367D -0.02%, #384CB1 99.91%);


}

.roadmap_left_ellips{
    position: absolute;
    top: 0;
    left: 0;

}
.Roadmap_right_ellips{
    position: absolute;
    bottom: -25%;
    right: 0;
}
.roadmap_box_text {
    max-width: 206.87px;
}

.gap-31 {
    gap: 31.18px;
}
.pb-33{
    padding-bottom: 33px;
}
/* RoadMap_phera */
/* Public Sale */
.public_sale_bg_img{
    background-image: url(./images/Whitepaper-bg-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pt-110{
    padding-top: 110px;
}
.pb-58{
    padding-bottom: 58px;
}
.public_sale_text{

    max-width: 609px;
}
.counting_box{
    width: 106px;
    height: 106px;
    border: 1px solid white;
    border-radius: 10px;
}
.pb-50{
    padding-bottom: 50px;
}
.mb-80{
    margin-bottom: 80px;
}
.to-top-btn{
    height: 58px;
    width: 58px;
    background-color: #FFA13B;
    border-radius: 50%;
    position: fixed;
    display: none;
    bottom: 11px;
    right: 2%;
    padding: 10px 10px;
}
.line_nav {
    position: relative;
}

.line_nav::after {
    position: absolute;
    content: "";
    bottom: -15%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s linear;
}

.line_nav:hover::after {
    width: 100%;
    right: 0;
}

@media (max-width:768px) {
    .w_100 {
        width: 100%;
    }
   
}

@media (min-width:320px) {
    .Whitepaper_absolute {
        position: unset;
        display: flex;
        justify-content: center;

    }

    .Whitepaper_absolute_2 {
        position: unset;
        display: flex;
        justify-content: center;

    }
    .w_sm_100{
        width: 100%;
    }
    .mb-364{
        margin-bottom: 40px;
    }
    .roadmap_left_ellips{
        display: none;

    }
    .Roadmap_right_ellips{
        display: none;
    }
    .roadmap_vactor_img{
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .flex_wrap{
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:576px) {
    .box_rounded-1 {
        padding: 60px 33px 3px 23px;
    }

    .pb_180 {
        padding-bottom: 80px;
    }
    .w_sm_100{
        width: unset;
    }
    .roadmap_left_ellips{
    display: block;

    }
    .Roadmap_right_ellips{
        display: block;
    }
    .flex_wrap{
        flex-direction: unset;
    }
}
@media (min-width:768px) {
    .buy_btn {
        padding: 11px 21px;
    }
    .w_sm_100{
        width: unset;
    }
}

@media (min-width:992px) {
    .py-50 {
        padding-top: 114px;
        padding-bottom: 114px;
    }
    .bg-img {
        background-image: url("./images/bg-hero-img.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .min_50vh {
        min-height: 51vh;
    }

    .pb_50 {
        padding-bottom: 158px;
    }

    .min_50vh {
        min-height: 40vh;
    }

    .min_80vh {
        min-height: 60vh;
    }

    .pb_180 {
        padding-bottom: 88px;
    }

    .hero-arrow_pos-1 {
        position: absolute;
        top: 10%;
        left: 40%;
    }

    .hero-arrow_pos-2 {
        position: absolute;
        bottom: 39%;
        left: 2%;

    }

    .hero-arrow_pos-3 {
        position: absolute;
        bottom: 25%;
        left: 40%;

    }

    .hero-arrow_pos-4 {
        position: absolute;
        bottom: 10%;
        right: 4%;
    }

    .pt-40 {
        padding-top: 25px;
    }
    .pt-45{
        padding-top: 105px;
    }
    .w_sm_100{
        width: unset;
    }
    .pb-33{
        padding-bottom: 141px;
    }
}

@media (min-width:1200px) {
    .box_rounded-3 {
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: 5;
        transition: 300ms linear;
    }

    .min_50vh {
        min-height: 51vh;
    }

    .min_80vh {
        min-height: 80vh;
    }

    @keyframes example {
        0% {
            transform: rotate(360deg);
        }

    }

    .box_rounded-2 {
        animation-name: example;
        animation-duration: 4s;
        transition: 300ms linear;

        animation-iteration-count: 5;
    }

    .box_rounded-1 {
        animation-name: example;
        animation-duration: 4s;
        transition: 300ms linear;
        animation-iteration-count: 5;
    }
}

@media (max-width: 992px) {
    .mobile_view {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 400ms linear;
        z-index: 3;
        background-color: #FF993C;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: white;
        display: block;
        transition: all 300ms linear;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: white;
        display: block;
        transition: all 300ms linear;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: white;
        display: block;
        transition: all 300ms linear;
    }

    .menu span {
        transition: ease-out;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
    }

    .box_rounded-3 {
        max-width: 370.765px;
    }

    .max-w-370 {
        width: 100%;
    }

}
@media (min-width:1320px) {
    .Whitepaper_absolute {
        position: absolute;
        top: 14%;
        left: 0;
    }

    .Whitepaper_absolute_2 {
        position: absolute;
        top: 14%;
        right: 0;
    }
    .pt-121 {
        padding-top: 121px;
    }
    .mb-364 {
        margin-bottom: 265px;
    }
}

@media (min-width:1220px) {
    .w_sm_100{
       width: unset;
   }
  
   
}